@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/*Shared Styles*/
.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    cursor: pointer;
}

.section-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 50px;
    text-align: center;
}

.section-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

/*Dropdown Menu*/
.checkbtn {
    font-size: 30px;
    color: #FF5400;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.nav-container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    min-height: 50px;
    align-items: center;
    margin-bottom: 30px;
}

.nav-title {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 15px;
    padding: 10px 0px;
}

.nav-title h1 {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-title span {
    color: #FF5400;
}

.nav-title img {
    width: 50px;
    object-fit: cover;
}

.nav-list {
    flex: 1;
}

.nav-list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list ul li {
    list-style-type: none;
}

.nav-list ul a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 1.12rem;
    font-weight: 400;
}

.nav-list .selected {
    color: #FF5400;
    font-weight: 700;
}

/*Explore styles*/
.explore-container {
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 50px;
    min-width: 992px;
}

.explore-img {
    position: relative;
}

.explore-img img {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    object-fit: cover;
    width: 100%
}

.explore-img img:hover {
    border: 2px solid blue;
    border-radius: 16px;
}

.explore-main {
    position: absolute;
    top: 25%;
    left: 25%;
}

.explore-content,
.explore-form {
    text-align: center;
    color: #fff;
    margin: 0 auto;
}

.explore-content h1 {
    padding-bottom: 30px;
    font-size: 4rem;
    font-weight: 800;
}

.explore-content p {
    padding-bottom: 50px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    max-width: 676px;
    margin-left: 50px;
}

.explore-form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.explore-form input,
select {
    border-radius: 8px;
    border: 0;
    color: rgba(19, 19, 24, 0.50);
    background: #FFF;
    font-size: 1rem;
    width: 174px;
    height: 52px;
    padding-left: 10px;
}

.explore-form button {
    border-radius: 8px;
    border: 0;
    color: #fff;
    background: #FF5400;
    font-size: 1rem;
    width: 174px;
    height: 52px;
}

.explore-form .fa-magnifying-glass {
    margin-right: 0;
}

/*tours styles*/
.tours-container {
    max-width: 1170px;
    display: flex;
    margin: 0 auto;
    /*align-items: center;*/
    justify-content: center;
    gap: 35px;
}

.tours-content {
    width: 50%;
}

.tours-img {
    width: 50%;
}

.tours-img img {
    width: 100%;
    object-fit: cover;
}

.tours-img img:hover {
    border: 2px solid blue;
    border-radius: 16px;
}

.tours-content h2 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    padding-bottom: 15px;
}

.tours-content p,
li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 15px;
    text-align: justify;
}

/*Destination styles*/
.destination-container {
    max-width: 1170px;
    margin: 0 auto;
}

.destination-content {
    text-align: center;
}

.destination-content h2 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 50px;
}

.destination-content .dest-title {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
    margin: 0 auto;
    padding: 20px 0;
}

.row-1 .img-container-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px
}

.row-1 .img-container-1 img {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.img-container-1 .img-1 {
    position: relative;
}

.img-container-1 .img-1 img:hover {
    border: 2px solid blue;
    border-radius: 16px;
}

.img-container-1 .mal {
    position: absolute;
    left: 40%;
    top: 45%;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}

.img-container-1 .img-2 {
    position: relative;
}

.img-container-1 .img-2 img:hover {
    border: 2px solid blue;
    border-radius: 16px;
}


.img-container-1 .indo {
    position: absolute;
    left: 40%;
    top: 45%;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}

.img-container-2 {
    display: grid;
    grid-template-columns: 383px 483px 283px;
    gap: 15px;
    margin-top: 15px;
}

.img-container-2 img {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.img-container-2 img:hover {
    border: 2px solid blue;
}

.img-container-2 .img-3 {
    position: relative;
}

.img-container-2 .sri {
    position: absolute;
    left: 36%;
    top: 40%;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}

.img-container-2 .img-4 {
    position: relative;
}

.img-container-2 .north {
    position: absolute;
    left: 30%;
    top: 40%;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}

.img-container-2 .img-5 {
    position: relative;
}

.img-container-2 .kashmir {
    position: absolute;
    left: 30%;
    top: 45%;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}

.img-container-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.img-container-3 img {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.img-container-3 img:hover {
    border: 2px solid blue;
}

.img-container-3 .img-6 {
    position: relative;
}

.img-container-3 .bangla {
    position: absolute;
    left: 33%;
    top: 43%;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}

.img-container-3 .img-7 {
    position: relative;
}

.img-container-3 .bandar {
    position: absolute;
    left: 40%;
    top: 45%;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}

/*Why styles*/
.why-container {
    max-width: 1170px;
    margin: 0 auto;
}

.card {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    padding: 20px;
}

.card-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.why-card-container {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.card-content {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.card-img {
    width: 64px;
    height: 64px;
    margin-bottom: 15px;
}

.card-img img {
    width: 100%;
    object-fit: cover;
}

.card-special {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    padding: 20px;
}

.card-key {
    margin: 0 auto;
}

.card:hover {
    border: 3px solid blue;
    border-radius: 5px;
}

.card-special:hover {
    border: 3px solid blue;
    border-radius: 5px;
}

/*Deals and Documents*/
.deals-container {
    max-width: 1170px;
    margin: 0 auto;
}

.card-background img {
    width: 100%;
    object-fit: cover;
}

.deals-img-container {
    position: relative;
    margin-bottom: 20px;
}

.deals-img-container img:hover {
    border: 2px solid blue;
    border-radius: 16px;
}

.deals-card-container {
    width: 579px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 20px;
    position: absolute;
    left: 45%;
    top: 12%;
}

.deals-card-container * {
    padding: 10px;
    text-align: left;
}

.fa-clock,
.fa-users,
.fa-location-dot {
    color: #FF5400;
}

.deals-card-content h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.deals-card-content p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.deals-card-content .price {
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
}

.deals-card-content .btn-primary {
    text-align: center;
    margin-left: 6px;
}

.deals-card-container-sw {
    width: 579px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 20px;
    position: absolute;
    right: 45%;
    top: 12%;
}

.deals-card-container-sw * {
    padding: 10px;
    text-align: left;
}

.card-background-sw img {
    width: 100%;
    object-fit: cover;
    transform: scaleX(-1);
}

.card-background-sw img:hover {
    border: 2px solid blue;
    border-radius: 16px;
}

.deals-container .deals-btn {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
    padding: 15px 20px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
}

.deals-container .btn {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

/*Simple Styles*/
.simple {
    max-width: 1170px;
    margin: 0 auto;
}

.simple-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.simple-content {
    width: 50%;
}

.simple-content h1 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 60px;
    width: 448px;
    padding-bottom: 10px;
}

.simple-content p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
    margin-bottom: 15px;
}

.simple-content ul li {
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    line-height: 26px;
    text-align: justify;
}

.simple-content ul {
    margin-left: 20px;
}

.simple-content button {
    margin-top: 15px;
}

.simple-content:hover {
    border: 2px solid blue;
}

.simple-video {
    width: 50%;
    position: relative;
}

.simple-video video {
    width: 100%;
    border-radius: 16px;
}

.simple-video p {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    width: 270px;
    position: absolute;
    top: 35%;
    left: 25%;
}

.simple-video video:hover {
    border: 2px solid blue;
}

/*Newsletter Section*/
.newsletter {
    max-width: 1170px;
    margin: 0 auto;
}

.newsletter-content {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 20px;
    height: 422px;
}

.newsletter-content:hover {
    border: 2px solid blue;
}

.newsletter-content h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.newsletter-content * {
    padding: 20px;
}

.newsletter-content p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 350px;
}

.newsletter-content input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    width: 393px;
    height: 52px;
    padding: 15px;
    display: block;
    margin-bottom: 15px;
    margin-left: 20px;
}

.new-btn {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border: 0;
    width: 393px;
    height: 52px;
    margin-left: 20px;
}

.newsletter-container {
    display: grid;
    grid-template-columns: 479px 677px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-top: 30px;
}

.newsletter-img {
    height: 422px;
}

.newsletter-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.newsletter-img {
    position: relative;
}

.newsletter-img img:hover {
    border: 2px solid blue;
    border-radius: 16px;
}

.box {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    padding-top: 20px;
    position: absolute;
    left: 51%;
    top: 60%;
}

.box .shrink {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}

.box p {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}

/*footer styles*/
.footer {
    background: rgba(19, 19, 24, 0.05);
    margin-top: 40px;
}

.footer-container {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    padding: 60px;
}

.footer-title {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 15px;
    justify-content: center;
    padding: 10px 0px;

}

.footer-title h4 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.footer-title span {
    color: #FF5400;
}

.footer-title img {
    width: 50px;
    object-fit: cover;
}

.footer-title p {
    width: 769px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 15px;
}

.footer .social {
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 20px;
}

.social span {
    padding: 5px;
}

.reserve {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}

/*Own styles*/
.own-container {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 479px 677px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.own-content {
    text-align: center;
    padding: 20px;
}

.own-content:hover {
    border: 2px solid blue;
}

.ownc-circle img {
    width: 60px
}


.own-img img {
    width: 100%;
    border-radius: 16px;
}

.own-img img:hover {
    border: 2px solid blue;
}

.own .section-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    width: 400px
}